.dashCont {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    gap: 5px;
    grid-auto-rows: minmax(5px, auto);
    justify-content: center;

}
div-table {
    font-size: large;
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}

.dashCont>div {
    background-color: rgb(146, 146, 146);
    height: 20px;
    display: grid;
    justify-content: center;
    border: 1px solid white;
    font-size: 1em;
    width: 300px;
    margin-top: 8px;
}

.dashCont>div:hover {
    background-color: aqua;
    color: gray;
}