.dashCont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.dashCont > nav{
    background-color: #000000;
    height: 60px;
    width: 960px;
    margin-left: -10px;
    line-height:50px;
    position: relative;
}

.dashCont > div{
    background-color: rgb(146, 146, 146);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 2em;
}

.dashCont > div:hover{
    background-color: aqua;
    color: gray;
}